[Desktop Entry]
Type=Service
Name=hk_kde5classes grid
MimeType=database/grid;
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=hk_kde5gridpart
X-KDE-ServiceTypes=KParts/ReadWritePart
