[Desktop Entry]
Type=Service
Name=hk_kde5classes table
MimeType=database/hk_kdetable;
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=libhk_kde5tablepart
X-KDE-ServiceTypes=KParts/ReadWritePart