[Desktop Entry]
Type=Service
Name=hk_kde5classes form
MimeType=database/form;
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=hk_kde5formpart
X-KDE-ServiceTypes=KParts/ReadWritePart
