[Desktop Entry]
Type=Service
Name=hk_kde5classes qbe
MimeType=database/qbedesigner;
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=hk_kde5qbepart
X-KDE-ServiceTypes=KParts/ReadWritePart