[Desktop Entry]
Type=Service
Name=hk_kde5classes query
MimeType=database/hk_query;
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=hk_kde5querypart
X-KDE-ServiceTypes=KParts/ReadWritePart
