[Desktop Entry]
Type=Service
Name=hk_kde4classes query
MimeType=database/hk_query;
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=libhk_kde4querypart
