<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="hk_kdemodule" version="1">

<MenuBar>
	<Menu name="file"><text>&amp;File</text>

		<merge/>
		<Separator lineSeparator="true"/>
		<Action name="closemodule"/>
	</Menu>
	<Menu name="view" noMerge="1"><text>&amp;View</text>
	   <merge/>
	</Menu>
<Merge/>
</MenuBar>
<ToolBar name="mainToolBar">
		<merge/>
		<Action name="closemodule"/>

</ToolBar>

</kpartgui>
