<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="hk_kdereport" version="2">

<MenuBar>
	<Menu name="file"><text>&amp;File</text>
		<Action name="savereport"/>
		<Action name="saveas"/>
		<Action name="printreport"/>
	</Menu>
	<Menu name="view"><text>&amp;View</text>
		<Action name="designmode"/>
		<Action name="viewmode"/>
		<Separator lineSeparator="true"/>
		<Action name="viewproperty"/>
	   <Merge/>
	</Menu>
	<Menu name="settings" ><text>&amp;Settings</text>
	<Merge/>
	</Menu>
<Merge/>
</MenuBar>
<ToolBar name="mainToolBar">
		<Action name="designmode"/>
		<Action name="viewmode"/>
		<Separator lineSeparator="true"/>
		<Action name="savereport"/>
		<Action name="saveas"/>
		<Action name="printreport"/>

</ToolBar>

</kpartgui>
