[Desktop Entry]
Type=Service
Name=hk_kde5classes report
MimeType=database/report;
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=libhk_kde5reportpart
X-KDE-ServiceTypes=KParts/ReadWritePart
